# Main requirements
streamlit == 1.44.*
reverse-geocoder == 1.5.*
vgrid == 1.3.*

# User interface
#pandas == 2.2.*

# Utilities
#python-gettext >= 5.0
#requests == 2.31.*

# Development requirements
#black
#isort
